.header {
  position: fixed;
  right: 0;
  top: 0;
  width: 80px;
  height: 100vh;
  z-index: 10;
  /* border-left: 10px solid var(--bg-color); */
  transition: border .2s ease;
}

.header:after {
  content: '';
  position: absolute;
  top: 0;
  left: -16px;
  width: 16px;
  height: 100%;
  background: var(--bg-transparency-color);
  z-index: -1;
  transition: background .2s ease;
  backdrop-filter: blur(9.3px);
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: var(--transparency-bg-color);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(9.3px);
  -webkit-backdrop-filter: blur(9.3px);
}

.nav-section {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  /* border-left: 1px solid var(--border-color); */
}

@media (min-width: 768px) {
  .nav-section {
    padding: 3rem 2rem;

  }
}

.nav .logo-initials {
  font-size: 3rem;
  font-weight: 300;
}

.nav-logo-section a {
  display: block;
  margin: 0 auto;
  text-decoration: none;
}

.nav-logo-section {
  display: flex;
  flex: 0 1 75px;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.nav-section > img {
  max-width: 64px;
  margin: 0 auto;
}

/* @media (min-width: 768px) {
  .nav-section > img {
    max-width: 100px;
  }
} */

.nav-link-section {
  flex-basis: calc(100% / 2);
}

.nav-link-section a {
  text-transform: uppercase;
  cursor: pointer;
}

.nav-logo-section {
  justify-content: start;
}

.nav-logo {
  width: 32px;
  fill: #FFFFFF;
  color: #FFFFFF;
  margin: 0 auto;
}

.nav-link-section {
  gap: 6rem;
  display: flex;
}

.nav-social-section {
  margin-top: auto;
}

.nav-contact-section {
  flex: 0 1 75px;
}

/* .nav-social-section {
  gap: 3rem;
} */

/* .nav-social-section > a {
  display: none;
} */

.nav-contact {
  display: block;
  margin-bottom: 24px;
}

.nav-social-section>svg {
  width: 24px;
  fill: var(--base-white);
}