.header { 
  display: flex;
}

@media (min-width: 768px) {
  .header {
    position: fixed;
    right: 0;
    top: 0;
    width: 80px;
    height: 100vh;
    z-index: 10;
    /* border-left: 10px solid var(--bg-color); */
    transition: border .2s ease;
  }
}

@media (min-width: 768px) {
  .header:after {
    content: '';
    position: absolute;
    top: 0;
    left: -16px;
    width: 16px;
    height: 100%;
    background: var(--bg-transparency-color);
    z-index: -1;
    transition: background .2s ease;
    backdrop-filter: blur(9.3px);
  }
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* height: 100%; */
  background: var(--transparency-bg-color);
  backdrop-filter: blur(9.3px);
  -webkit-backdrop-filter: blur(9.3px);
  transition: background .2s ease;
}

@media (min-width: 768px) {
  .nav {
    flex-direction: column;
  }
}

.nav .logo-initials {
  font-size: 3rem;
  font-weight: 300;
}

.nav-logo-section a {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  padding: 2rem 0;
}

.nav-logo-section {
  display: flex;
  flex: 0 1 75px;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.nav-section > img {
  max-width: 64px;
  margin: 0 auto;
}

.nav-link {
  display: flex;
  color: var(--purple);
}

.nav-link-section {
  flex-basis: calc(100% / 2);
}

.nav-link-section a {
  text-transform: uppercase;
  cursor: pointer;
}

.nav-logo-section {
  justify-content: start;
}

.nav-logo {
  width: 32px;
  fill: #FFFFFF;
  color: #FFFFFF;
  margin: 0 auto;
}

.nav-link-section {
  gap: 6rem;
  display: flex;
}

.nav-social-section {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex: 1 0 auto;
  justify-content: center;
}

@media (min-width: 768px) {
  .nav-social-section {
    flex-direction: column;
  }
}

.nav-contact {
  display: block;
  margin-bottom: 24px;
}

.nav-social-section>svg {
  width: 24px;
  fill: var(--base-white);
}

.nav-theme-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 75px;
}