.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1.6rem;
  text-decoration: none;
  position: relative;
}

.title {
  margin: 0;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.icon {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  font-size: 1.2rem;
  color: var(--txt-color);
}