.slider {
  position: relative;
  transform: translateX(50%);
  padding: 0 2rem;
  cursor: grab;
}

.slider-inner {
  display: flex;
}

.slider-item {
  min-height: 20rem;
  min-width: 28rem;
  padding: 12px 24px;
  overflow: hidden;
}

.slider-item img {
  height: 100%;
  object-fit: cover;
  object-position: 100% center;
  pointer-events: none;
}