// .grid {
  // display: grid;
  // height: calc(100vh - 70px);
  // grid-template-columns: 1fr 1fr;
  // grid-template-rows: 1fr 1fr 1fr;
  // gap: 1.5rem;
  // height: calc(100dvh - 70px);
  // background: var(--bg-color);
  // padding: 2rem;
// }

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding: 1.6rem;
  height: calc(100vh - 70px);

  .div1 {
    grid-area: 1 / 1 / 3 / 4;
  }
  
  .div2 {
    grid-area: 1 / 4 / 2 / 5;
  }
  
  .div3 {
    grid-area: 1 / 5 / 2 / 6;
  }
  
  .div4 {
    grid-area: 1 / 6 / 2 / 7;
  }
  
  .div5 {
    grid-area: 2 / 4 / 3 / 7;
  }
  
  .div6 {
    grid-area: 3 / 1 / 5 / 4;
  }
  
  .div7 {
    grid-area: 3 / 4 / 4 / 7;
  }
  
  .div8 {
    grid-area: 4 / 4 / 5 / 7;
  }
  
  .div9 {
    grid-area: 5 / 1 / 7 / 2;
  }
  
  .div10 {
    grid-area: 5 / 2 / 7 / 3;
  }
  
  .div11 {
    grid-area: 5 / 3 / 7 / 4;
  }
  
  .div12 {
    grid-area: 5 / 4 / 7 / 7;
  }
}

.inner-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid var(--txt-color);
  border-radius: 1.6rem;
  overflow: hidden;
}


.outer-box {
  padding: 2rem;
  border: 1px solid gray;
  border-radius: 16px;
  height: 28dvh;
  &--full {
    padding: 0;
  }
}

.intro {
  height: 100%;
  padding: 1.6rem;
  margin: 0;
  font-size: 3rem;
  color: var(--txt-color);
  font-weight: 500;
}

.social-links {
  display: flex;

  &__item {
    padding: 1rem;
    border: 1px solid red;
  }
}

.module-full-size {
  overflow: hidden;
  display: flex;
  max-height: 100%;
  border-radius: 16px;

  > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.module-2-rows {
  display: grid;
  gap: 0.8rem;
  padding: 1.6rem;

  .inner-box {
    border: 1px solid gray;
    border-radius: 1.6rem;
  }
}