// .grid {
  // display: grid;
  // height: calc(100vh - 70px);
  // grid-template-columns: 1fr 1fr;
  // grid-template-rows: 1fr 1fr 1fr;
  // gap: 1.5rem;
  // height: calc(100dvh - 70px);
  // background: var(--bg-color);
  // padding: 2rem;
// }

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding: 1.6rem;
  min-height: 100vh;
  // height: calc(100vh - 70px);

  .div1 {
      grid-area: 1 / 1 / 4 / 4;
    }
  
    .div2 {
      grid-area: 1 / 4 / 3 / 7;
    }
  
    .div3 {
      grid-area: 1 / 7 / 3 / 10;
    }
  
    .div4 {
      grid-area: 4 / 1 / 5 / 4;
    }
  
    .div5 {
      grid-area: 3 / 4 / 5 / 10;
    }
  
    .div6 {
      grid-area: 5 / 1 / 8 / 7;
    }
  
    .div7 {
      grid-area: 5 / 7 / 8 / 10;
    }
  
    .div8 {
      grid-area: 1 / 10 / 2 / 11;
    }
  
    .div9 {
      grid-area: 1 / 11 / 2 / 12;
    }
  
    .div10 {
      grid-area: 1 / 12 / 2 / 13;
    }
  
    .div11 {
      grid-area: 2 / 10 / 4 / 13;
    }
  
    .div12 {
      grid-area: 4 / 10 / 6 / 13;
    }
  
    .div13 {
      grid-area: 6 / 10 / 8 / 13;
    }
}

.inner-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  // border: 1px solid var(--txt-color);
  background-color: var(--bg-color);
  background-color: var(--bg-color);
  border-radius: 1.6rem;
  overflow: hidden;
}


.outer-box {
  padding: 2rem;
  border: 1px solid gray;
  border-radius: 16px;
  height: 28dvh;
  &--full {
    padding: 0;
  }
}

.intro {
  height: 100%;
  padding: 1.6rem;
  margin: 0;
  font-size: 2rem;
  color: var(--txt-color);
  font-weight: 500;
}

.social-links {
  display: flex;

  &__item {
    padding: 1rem;
    border: 1px solid red;
  }
}

.module-full-size {
  overflow: hidden;
  display: flex;
  max-height: 100%;
  border-radius: 16px;

  > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.module-2-rows {
  display: grid;
  gap: 0.8rem;
  padding: 1.6rem;

  .inner-box {
    border: 1px solid gray;
    border-radius: 1.6rem;
  }
}