.grid-container {
  display: block;
  width: 100vw;
  height: 100dvh;
}

.grid-title {
  color: var(--color-text);
}

.grid {
  display: grid;
  width: 55vw;
  height: 55vw;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.grid-item {
  padding: 2rem;
  transition: all 0.25s ease-in-out;
}

.grid-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* width: 128px; */
    height: 32px;
    max-width: 55vw;
    justify-content: end;
    padding-top: 2rem;
}

.grid-controls > button {
  padding: 10px;
  line-height: 1;
  margin-left: 8px;
}

.grid-controls-text {
  color: var(--color-text);
  margin-right: 2rem;
}