/* @tailwind base;
@tailwind components; 

@layer components {
  .btn {
    @apply inline-block px-5 py-3 shadow-lg rounded-lg text-white uppercase tracking-wider font-semibold text-sm;
  }
  .btn-primary {
    @apply shadow-lg bg-brand sm:text-base hover:bg-brand-dark transform focus:outline-none focus:ring-2 focus:ring-brand-light focus:ring-opacity-50 active:bg-brand-light;
  }

  .btn-secondary {
    @apply bg-gray-200 rounded-lg text-gray-900 sm:text-base hover:bg-gray-300 transform focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50 active:bg-gray-600;
  }
}

@tailwind utilities; */

:root {
  --fg-color: #000;
  --bg-color: #f0eff1;
  --transparency-bg-color: rgba(255, 255, 255, 0.37);
  --txt-color: #000;
  --background-color: rgb(6, 11, 25);
  --border-color: rgb(255, 255, 255, 0.1);
  --base-white: #ffffff;
  --hightlight-color: #ff6b6b;
  --blur: 40px;
  --aquamarine: #00ffbf;
  --candy-apple-red: #ff1500;
  --orange-web: #ffae00;
  --purple: #8f4ed1;
}

[data-theme="dark"] {
  --fg-color: #fff;
  --bg-color: #000;
  --txt-color: #fff;
  --transparency-bg-color: hsl(0deg 0% 0% / 57%);
}

* {
  box-sizing: border-box;
}

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: var(--bg-color);
  transition: background-color .2s ease;
  font-size: 1.6rem;
}

body,
h1,
h2,
h3,
a,
p,
span {
  color: var(--txt-color);
}


a {
  color: var(--aquamarine);
  color: var(--orange-web);
}

.app-container {
  width: 100%;
  height: 100vh;
  height: 100dvh;
}

main {
  min-width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}