:root {
  --background-color: rgb(6, 11, 25);
  --border-color: rgb(255, 255, 255, 0.1);
  --base-white: #ffffff;
  --hightlight-color: #ff6b6b;
  --blur: 40px;

  --aquamarine: #00ffbf;
  --candy-apple-red: #ff1500;
  --orange-web: #ffae00;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

body,
h1,
h2,
h3,
a,
p,
span {
  color: var(--base-white);
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}