:root {
  --background-color: rgb(6, 11, 25);
  --border-color: rgb(255, 255, 255, 0.1);
  --base-white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

h1,
h2,
h3,
a,
p,
span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: var(--base-white);
}

a {
  text-decoration: none;
}